<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucursales</title>
    <link rel="stylesheet" th:href="@{/css/styleAgregarSucursal.css}"> <!-- Archivo CSS -->

    <script>
        
        function crearSucursal(event) {
            event.preventDefault(); // Evita el envío del formulario y la recarga de la página

            // Obtén los nuevos valores de los campos del formulario
            const nombre = document.getElementById('nombre').value;
            const provincia = document.getElementById('provincia').value;
            const telefono = document.getElementById('telefono').value;

            // Crea un objeto con los datos de la nueva sucursal
            const data = {
                nombre: nombre,
                provincia: provincia,
                telefono: telefono
            };

            // Realiza la petición POST para agregar la sucursal
            fetch('/AgregarSucursal', { 
                method: 'POST', 
                headers: {
                    'Content-Type': 'application/json'  // Añadir la cabecera para indicar el tipo de contenido
                },
                body: JSON.stringify(data) // Convierte el objeto a JSON para enviarlo en el cuerpo de la petición
            })
            .then(response => {
                if (response.ok) {
                    alert('Sucursal creada exitosamente');
                    // Actualizar la lista de sucursales o recargar la página
                    location.reload(); // O recargar la página si es necesario
                } else {
                    alert('Error al crear la sucursal');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error al crear la sucursal');
            });
        }
    </script>
</head>

<body>
    <!-- Barra de navegación -->
    <nav class="navbar">
        <ul>
            <li><a href="/menu">Inicio</a></li>
            <li class="submenu">
                <a href="/Productos">Productos</a>
                <ul>
                    <li><a href="/AgregarProducto">Agregar Producto</a></li>
                    <li><a href="/ModificarProducto">Modificar Producto</a></li>
                    <li><a href="/EliminarProducto">Eliminar Producto</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="/Sucursales">Sucursales</a>
                <ul>
                    <li><a href="/AgregarSucursal">Agregar Sucursal</a></li>
                    <li><a href="/ModificarSucursal">Modificar Sucursal</a></li>
                    <li><a href="/EliminarSucursal">Eliminar Sucursal</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="/Empleados">Empleados</a>
                <ul>
                    <li><a href="/AgregarEmpleado">Agregar Empleado</a></li>
                    <li><a href="/ModificarEmpleado">Modificar Empleado</a></li>
                    <li><a href="/EliminarEmpleado">Eliminar Empleado</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="/ReportesProductos">Reportes productos</a>
                <ul>
                    <li><a href="/ReporteProductoPF">Reporte de productos por PF</a></li>
                    <li><a href="/ReporteInventario">Reporte de Inventario</a></li>
                </ul>
            </li>
            <li><a href="/Login">Cerrar Sesión</a></li>
        </ul>
    </nav>

    <!-- Contenido de la página -->
    <div class="header-container">
        <h1 class="main-title">Crear Sucursal</h1>
    </div>

    <!-- Formulario para crear una sucursal -->
    <div class="form-container">
        <form onsubmit="crearSucursal(event);">
            <div>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>

            <div>
                <label for="provincia">Provincia:</label>
                <select id="provincia" name="provincia" required>
                    <option value="San José">San José</option>
                    <option value="Alajuela">Alajuela</option>
                    <option value="Cartago">Cartago</option>
                    <option value="Heredia">Heredia</option>
                    <option value="Guanacaste">Guanacaste</option>
                    <option value="Puntarenas">Puntarenas</option>
                    <option value="Limón">Limón</option>
                </select>
            </div>

            <div>
                <label for="telefono">Teléfono:</label>
                <input type="text" id="telefono" name="telefono" required pattern="\d+" title="Ingrese solo números">
            </div>

            <div>
                <button type="submit">Crear Sucursal</button>
            </div>
        </form>
    </div>

</body>
</html>
