<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleados</title>
    <link rel="stylesheet" th:href="@{/css/styleEmpleado.css}"> <!-- Archivo CSS -->

    <script>
        function buscarEmpleados() {
            const query = document.getElementById('searchQuery').value;

            fetch('/Empleados?query=' + query)
                .then(response => response.text())
                .then(html => {
                    document.getElementById('empleado-container').innerHTML = html;
                    convertirEstado(); // Convertir estado después de cargar el HTML
                });
        }

        function convertirEstado() {
            const estados = document.querySelectorAll('.estado');
            estados.forEach(estado => {
                if (estado.textContent.trim() === '1') {
                    estado.textContent = 'Activo';
                } else if (estado.textContent.trim() === '0') {
                    estado.textContent = 'Inactivo';
                }
            });
        }

        document.addEventListener('DOMContentLoaded', () => {
            const searchInput = document.getElementById('searchQuery');
            searchInput.addEventListener('input', buscarEmpleados);
        });
    </script>
</head>



<body>
    <!-- Barra de navegación -->
    <nav class="navbar">
        <ul>
            <li><a href="/menu">Inicio</a></li>
            <li class="submenu">
                <a href="/Productos">Productos</a>
                <ul>
                    <li><a href="/AgregarProducto">Agregar Producto</a></li>
                    <li><a href="/ModificarProducto">Modificar Producto</a></li>
                    <li><a href="/EliminarProducto">Eliminar Producto</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="/Sucursales">Sucursales</a>
                <ul>
                    <li><a href="/AgregarSucursal">Agregar Sucursal</a></li>
                    <li><a href="/ModificarSucursal">Modificar Sucursal</a></li>
                    <li><a href="/EliminarSucursal">Eliminar Sucursal</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="/Empleados">Empleados</a>
                <ul>
                    <li><a href="/AgregarEmpleado">Agregar Empleado</a></li>
                    <li><a href="/ModificarEmpleado">Modificar Empleado</a></li>
                    <li><a href="/EliminarEmpleado">Eliminar Empleado</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="/ReportesProductos">Reportes productos</a>
                <ul>
                    <li><a href="/ReporteProductoPF">Reporte de productos por PF</a></li>
                    <li><a href="/ReporteInventario">Reporte de Inventario</a></li>
                </ul>
            </li>
            <li><a href="/Login">Cerrar Sesión</a></li>
        </ul>
    </nav>

    <!-- Contenido de la página -->
    <div class="header-container">
        <h1 class="main-title">Empleados Disponibles</h1>
        <input type="text" id="searchQuery" class="search-input" placeholder="Buscar empleado...">
    </div>

    <div id="empleado-container" class="content">
        <!-- Galería de Empleados -->
        <div class="empleado-gallery" th:fragment="empleado-gallery">
            <div class="empleado-card" th:each="empleado : ${empleados}">
                <h3 th:text="${empleado.nombre}">Nombre del Empleado</h3>
                <p>Apellido: <span th:text="${empleado.apellido}">Apellido</span></p>
                <p>Cédula: <span th:text="${empleado.cedula}">Cédula</span></p>
                <p>Sexo: <span th:text = "${empleado.sexo}">Sexo</span></p>
                <p>Teléfono: <span th:text="${empleado.numeroTelefono}">Teléfono</span></p>
                <p>Salario: <span th:text="${empleado.salario}">Salario</span></p>
                <p>Estado: <span class="estado" th:text="${empleado.estado}">Estado</span></p>
                <p>ID Sucursal: <span th:text="${empleado.idSucursal}">Identificación de sucursal</span></p>
                <p>Edad: <span th:text="${empleado.edad}">Edad</span></p>
            </div>
        </div>
    </div>

</body>
</html>
